{% extends 'dashboard.html.twig' %}

{% block content  %}
    <div style="padding-left: 30px;">
        <div id="div_chart" ></div>
        <script type="text/javascript">
        </script>
    </div>
{% endblock content %}